body {
  background:#0f172a;
  color:white;
  font-family:system-ui;
  padding:20px;
}

.card {
  background:#020617;
  padding:15px;
  margin:10px 0;
  border-radius:12px;
}

button, input {
  width:100%;
  margin:6px 0;
  padding:8px;
  border-radius:8px;
  border:none;
}
